[Unit]
Description=AgriControl Automation Engine
After=network.target mosquitto.service influxdb.service
Wants=mosquitto.service influxdb.service

[Service]
Type=simple
User=sguser
WorkingDirectory=/home/sguser/iot-backend
ExecStart=/home/sguser/iot-backend/venv/bin/python3 -u automation_engine.py
Restart=on-failure
RestartSec=10
StandardOutput=append:/home/sguser/iot-backend/auto.log
StandardError=append:/home/sguser/iot-backend/auto.log

[Install]
WantedBy=multi-user.target
