MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USERNAME=mqttuser
MQTT_PASSWORD=your_password_here
INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=your_token_here
INFLUX_ORG=iot-org
INFLUX_BUCKET=gh_sensor_data
DEVICE_ID=mega-1
TEMP_HEATER_ON=20.0
TEMP_HEATER_OFF=22.0
TEMP_FAN_ON=26.0
TEMP_FAN_OFF=24.0
HUMIDITY_HIGH=85.0
HUMIDITY_LOW=65.0
SOIL_PCT_DRY=35.0
SOIL_PCT_WET=55.0
PUMP_DURATION=4
PUMP_COOLDOWN=120
MAX_PUMP_RUNS=10
LIGHT_ON_HOUR=6
LIGHT_OFF_HOUR=22
